:root {
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
  --bold-italic: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Source Sans 3', sans-serif;
}

.wrapper {
  margin: 0 9.7vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* width: 80%; */
  top: 0;
  right: 0;
  left: 0;
  padding-top: 4vh;
  padding-right: 9vw;
  padding-left: 9vw;
  padding-bottom: 16px;
  backdrop-filter: blur(10px);
}

.logo-name {
  text-transform: uppercase;
  font-style: italic;
  font-weight: var(--bold-italic);
  font-size: 24px;
  line-height: 2rem;
}

.bar-btn {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bar-1,
.bar-2,
.bar-3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}

.bg-sidebar {
  background-color: rgba(26, 26, 26, 0.85);
  position: fixed;
  width: 100%;
  height: 100%;
  /* left: 0; */
  right: -100%;
  top: 0;
  transition: 0.35s;
}

div.change {
  right: 0;
  transition: 0.35s;
}

ul.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: var(--bold);
  font-size: 28px;
  line-height: 68px;
}

ul li:hover a {
  color: rgba(255, 255, 255, 1);
}

ul li:first-child {
  margin-top: 100px;
}

.change .bar-1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* =================== section hero =================== */
section.hero {
  margin-top: 159px;
}

.header-text {
  width: 555px;
  margin-bottom: 181px;
}

.header-text .main-header-text {
  width: 528px;
  font-size: 3rem;
  font-weight: var(--bold);
  line-height: 68px;
}

.header-text .sub-header-text {
  width: 462px;
  font-weight: var(--regular);
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 15px;
  margin-bottom: 60px;
}

.button {
  display: flex;
  gap: 35px;
  align-items: center;
  flex-wrap: wrap;
}

button.request {
  padding: 15px 30px;
  color: #fff;
  background-color: rgba(55, 87, 255, 1);
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s;
}

button.request:hover {
  background-color: rgba(55, 87, 255, 0.7);
  transform: scale(1.05);
  transition: 0.2s;
}
button.request:active {
  background-color: rgba(55, 87, 255, 0.9);
  transform: scale(0.99);
  transition: 0.2s;
}

div.track {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 30px;
}

/* ======================================================== */

.background-page {
  position: absolute;
  z-index: -999;
  top: 20px;
  right: 25vh;
  width: 563px;
  height: 559px;
  background-image: url(../images/location.svg), url(../images/10minutes.png), url(../images/cursor.svg), url(../images/lines.svg), url(../images/squares.svg);
  background-position: 44% 62px, 64% 43%, 40% 300px, 65% 113%, top right;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  transition: 1s;
}

/* ======================================================== */
.advantages {
  max-width: 100%;
  padding: 55px 70px 58px;
  color: #fff;
  background-color: rgba(55, 87, 255, 1);
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  width: 278.6px;
  margin: 16px 0;
}

.title-card {
  font-weight: var(--semi-bold);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;
}

.text-card {
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
}

/* ======================================================== */
@media screen and (max-width: 1200px) {
  .advantages {
    gap: 16px;
    padding: 55px 35px 58px;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .background-page {
    background-position: 44% 62px, right 43%, 40% 300px, 65% 113%, top right;
    transition: 1s;
    opacity: 0.5;
    right: 10vh;
  }
  .advantages {
    gap: 16px;
    padding: 55px 35px 58px;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .header-text {
    width: auto;
  }
  .header-text .main-header-text {
    width: auto;
    font-size: 2rem;
  }
  .header-text .sub-header-text {
    width: auto;
  }
  .background-page {
    visibility: hidden;
  }
  .button {
    justify-content: center;
  }
}
